{% load static %}

 <section id="top-sell" class="padding-medium">
    <div class="container">

      <div class="text-center mb-5">
        <h2 class="display-5 fw-semibold">Check our <span class="text-primary">top selling courses</span></h2>
        <p class="secondary-font">Peoples are not only searching but buying these products.</p>
      </div>

      <div class="text-center mb-3">
        <p class="m-0">
          <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4  active" data-filter="*">All</button>
          <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".digital">Digital
            marketing</button>
          <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".web">Web design</button>
          <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".photo">Photography</button>
          <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".business">Bussiness</button>
          <button class="filter-button px-3 py-2 mt-2 rounded-pill me-4 " data-filter=".video">Video editing</button>
        </p>
      </div>

      <div class="isotope-container row">

        <div class="item digital col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">12 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item4.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

              <a href="{% url 'course' %}">
                <h5 class="py-2 m-0">The Complete Package of Digital Marketing Courses</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">James Willam</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="item web col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">10 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item3.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">Expert</span>

              <a href={% url 'course' %}>
                <h5 class="py-2 m-0">Top Marketing Strategy Courses - 15 Courses in 1</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">2D Course</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="item photo col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">15 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item1.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">All Level</span>

              <a href="{% url 'course' %}">
                <h5 class="py-2 m-0">Digital Marketing Masterclass - Complete Guide</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">Wokka Stary</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="item business col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">20 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item2.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

              <a href="{% url 'course' %}">
                <h5 class="py-2 m-0">Mega Digital Marketing Course A to Z - Full Course</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">Christin Hanby</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-line" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="item video col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">12 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item5.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

              <a href="{% url 'course' %}">
                <h5 class="py-2 m-0">The Complete Package of Digital Marketing Courses</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">James Willam</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="#" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="item web col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">10 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item6.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">Expert</span>

              <a href="{% url 'course' %}">
                <h5 class="py-2 m-0">Top Marketing Strategy Courses - 15 Courses in 1</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">2D Course</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-line" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="item photo col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">15 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item7.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">All Level</span>

              <a href="{% url 'course' %}">
                <h5 class="py-2 m-0">Digital Marketing Masterclass - Complete Guide</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">Wokka Stary</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>
        <div class="item business col-md-4 col-lg-3 my-5">
          <div class="z-1 position-absolute m-3">
            <span class="badge text-muted bg-primary">20 Weeks</span>
          </div>
          <div class="card position-relative">
            <a href="{% url 'course' %}"><img src="{% static 'images/item8.jpg' %}" class="img-fluid rounded-3" alt="image"></a>
            <div class="card-body p-0">

              <span class="badge text-muted bg-success mt-3 mb-1">Beginner</span>

              <a href="{% url 'course' %}">
                <h5 class="py-2 m-0">Mega Digital Marketing Course A to Z - Full Course</h5>
              </a>

              <div class="card-text">
                <span class="rating d-flex align-items-center mb-2">
                  <p class="text-muted fw-semibold m-0 me-2">Christin Hanby</p>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:star-solid" class="text-primary"></iconify-icon>
                  <iconify-icon icon="clarity:half-star-solid" class="text-primary"></iconify-icon>
                </span>

                <h4 class=" text-primary">180.00 <span
                    class="fs-6 text-black opacity-25 text-decoration-line-through">240.00</span></h4>

                <div class="d-flex flex-wrap mt-2">
                  <a href="{% url 'contact' %}" class=" btn btn-outline-dark text-capitalize me-2 px-4 py-3">Enroll Now</a>
                  <a href="#" class=" btn btn-outline-dark text-capitalize ">
                    <iconify-icon icon="mdi:heart-outline" class="fs-5 pt-1"></iconify-icon>
                  </a>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>

    </div>
  </section>

